/* Resets */
* {
    color:#f5f5f5;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
}

input,
textarea,
select {
    outline: none;
    box-shadow: none;
    border: none;
    appearance: none;
}

/* Main Page */
body {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 100vh;
}

/* Left sidebar */
.left-sidebar {
    background-color: dimgrey;
    color: #f5f5f5;
    padding: 50px 25px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

h1 {
    color: #f5f5f5;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.your-spaces-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

h2 {
    font-size: 1.6rem;
}

#add-space-button {
    background-color: dimgrey;
    padding: 0;
    border: none;
    border-radius: 15px;
    height: 40px;
}

#add-space-button:hover,
#add-space-button:active {
    background-color: #38b000;
    opacity: 0.8;
}

#add-space-icon {
    height: 40px;
}

nav {
    padding: 5px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.active-space {
    background-color: #38b000;
}

.space-tab {
    height: 40px;
    padding: 20px 30px;
    border-radius: 10px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.space-tab:hover:not(.active-space),
.space-tab:active:not(.active-space) {
    background-color: rgb(85, 85, 85);
}

.space-tab:hover .space-delete,
.space-tab:hover .space-edit {
    display: inline-block;
}

.space-text {
    font-size: 1.3rem;
    font-weight: bold;
    margin-right: auto;
}

.space-delete,
.space-edit {
    background-color: transparent;
    padding: 2px;
    border: none;
    border-radius: 5px;

    display: none;
}

.space-delete-icon,
.space-edit-icon {
    height: 22px;
    width: 22px;
}

.space-delete:hover,
.space-delete:active,
.space-edit:hover,
.space-edit:active {
    background-color: #2b8800cc;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main section */
main {
    color: #f5f5f5;
    background-color: #131313;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px 1fr;
}

/* Header */
header {
    background-color: rgb(34, 34, 34);
    padding: 15px 30px;
    border-bottom: 3px solid rgb(63, 63, 63);

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    gap: 20px;
}

.space-heading {
    font-size: 2rem;
}

.todo-count {
    font-size: 1.2rem;
    margin-left: 10px;
}

/* Space container */
.space-container {
    padding: 50px 300px;
    /* overflow-x: hidden; */
    overflow-y: auto;
    
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: 100%;
    grid-auto-rows: 100px;
    gap: 25px;
}

.space-list-todo {
    border: 2px solid grey;
    border-radius: 10px;
    padding: 10px 50px;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 80% max-content;
    justify-content: space-between;
    align-items: center;
}

.space-list-todo:hover {
    border: 2px solid #38b000;
    cursor: pointer;
}

.list-item-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.list-item-right {
    width: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
}

.list-item-description {
    max-width: 100%;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
}

.list-item-delete {
    display: none;
    padding: 5px;
}

.todo-delete-icon {
    height: 25px;
    width: 25px;
}

.space-list-todo:hover .list-item-delete {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-item-delete:hover {
    background-color: #2b8800cc;
    border: none;
    border-radius: 5px;
}

/* Add Todo Button */
#add-new-todo {
    border: 2px dashed grey;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#add-todo-icon {
    height: 50px;
}

.add-todo-text {
    font-size: 1.4rem;
}

#add-new-todo:hover,
#add-new-todo:active {
    background-color: rgb(68, 68, 68);
    border: 2px dashed #38b000;
}

/* Modals */
dialog {
    background-color: rgb(50, 50, 50);
    border: none;
    border-radius: 10px;
}

dialog[open] {
    padding: 20px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

::backdrop {
    background-color:rgb(20, 20, 20);
    opacity: 0.5;
}

.modal-top-container {
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-heading {
    color: #f5f5f5;
    font-size: 1.3rem;
    font-weight: bold;
}

.modal-close {
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-close:hover,
.modal-close:active {
    background-color: rgb(85, 85, 85);
}

.close-icon {
    height: 20px;
}

.confirm-delete-text {
    font-size: 1.1rem;
}
.modal-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.modal-cancel,
.modal-submit,
.confirm-delete-button {
    padding: 8px 12px;
    font-weight: bold;
    border-radius: 5px;
}

.modal-cancel {
    background-color: rgb(105, 105, 105);
}

.modal-cancel:hover,
.modal-cancel:active {
    background-color: rgb(150, 150, 150);
}

.modal-submit,
.confirm-delete-button {
    background-color: #38b000;
}

.modal-submit:hover,
.modal-submit:active,
.confirm-delete-button:hover,
.confirm-delete-button:active {
    background-color: #66c53a;
}

.modal-add-space,
#modal-delete-space,
#modal-edit-space {
    top: 40vh;
}

.modal-add-todo,
#modal-todo-item {
    top: 20vh;
}

#add-space-form,
#edit-space-form,
#add-todo-form,
#edit-todo-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-input-container {
    display: flex;;
    flex-direction: column;
    gap: 10px;
}

.modal-delete-icon {
    height: 25px;
    width: 25px;
}

/* Forms */
input,
textarea,
select {
    font-size: 1.1rem;
    background-color: transparent;
    padding: 10px;
    border: 2px solid rgb(68, 68, 68);
    border-radius: 5px;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus,
select:hover,
select:focus {
    border: 2px solid rgb(153, 153, 153);
}

input[type="date"] {
    color: #f5f5f5;
}

select {
  width: 100%;
  height: 100%;
}

.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  content: "▼";
  font-size: 1rem;
  top: 12px;
  right: 10px;
  position: absolute;
}

option {
    background-color: rgb(50, 50, 50);
}

label {
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 10px;
}