/* Resets */
* {
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    outline: none;
}

/* Main Page */
body {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 100vh;
}

/* Left sidebar */
.left-sidebar {
    background-color: dimgrey;
    color: #f5f5f5;
    padding: 50px 25px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

h1 {
    color: #f5f5f5;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.your-spaces-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

h2 {
    font-size: 1.6rem;
}

#add-space-button {
    background-color: dimgrey;
    padding: 0;
    border: none;
    border-radius: 15px;
    height: 40px;
}

#add-space-button:hover,
#add-space-button:active {
    background-color: #38b000;
    opacity: 0.8;
}

#add-space-icon {
    height: 40px;
}

nav {
    padding: 5px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.active-space {
    background-color: #38b000;
}

.space-tab {
    height: 40px;
    padding: 20px 30px;
    border-radius: 10px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.space-tab:hover:not(.active-space),
.space-tab:active:not(.active-space) {
    background-color: rgb(85, 85, 85);
}

.space-tab:hover .space-delete,
.space-tab:hover .space-edit {
    display: inline-block;
}

.space-text {
    font-size: 1.3rem;
    font-weight: bold;
    margin-right: auto;
}

.space-delete,
.space-edit {
    background-color: transparent;
    padding: 2px;
    border: none;
    border-radius: 5px;

    display: none;
}

.space-delete-icon,
.space-edit-icon {
    height: 22px;
    width: 22px;
}

.space-delete:hover,
.space-delete:active,
.space-edit:hover,
.space-edit:active {
    background-color: #2b8800cc;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main section */
main {
    color: #f5f5f5;
    background-color: #131313;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px 1fr;
}

/* Header */
header {
    background-color: rgb(34, 34, 34);
    padding: 15px 30px;
    border-bottom: 3px solid rgb(63, 63, 63);

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    gap: 20px;
}

.space-heading {
    font-size: 2rem;
}

.todo-count {
    font-size: 1.2rem;
    margin-left: 10px;
}

/* Space container */
.space-container {
    padding: 20px 300px;
    
    /* grid-template-rows: 375px; */
    /* grid-template-columns: 1fr; */
}

/* Add Todo Button */
#add-new-todo {
    border: 2px dashed grey;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#add-todo-icon {
    height: 50px;
}

.add-todo-text {
    font-size: 1.4rem;
}

#add-new-todo:hover,
#add-new-todo:active {
    background-color: rgb(68, 68, 68);
}