/* Resets */
* {
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    outline: none;
}

/* Main Page */
body {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 100vh;
}

/* Left sidebar */
.left-sidebar {
    background-color: dimgrey;
    color: #f5f5f5;
    padding: 50px 25px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

h1 {
    color: #f5f5f5;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.your-spaces-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

h2 {
    font-size: 1.6rem;
}

#add-space-button {
    background-color: dimgrey;
    padding: 0;
    border: none;
}

#add-space-icon {
    height: 40px;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.space-tab {
    height: 40px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.space-text {
    font-size: 1.3rem;
    font-weight: bold;
    margin-right: auto;
}

.space-delete,
.space-edit {
    background-color: dimgrey;
    padding: 0;
    border: none;
}

.space-delete-icon,
.space-edit-icon {
    height: 22px;
}

/* Main section */
main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px 1fr;
}

/* Header */

/* Space container */
#add-todo-icon {
    height: 30px;
}